openapi: 3.0.3
info:
  title: API for Transport Track and Trace in the Automotive Industry
  description: |
    openAPI configuration file for Transport T&T processes in the automotive industry.
    ---
    This is the technical deliverable according to VDA recommendation 4998 Part 2, (Odette OA02).   
    It provides a framework for interoperable implementations throughout the automotive industry and its partners in the transport and IT area.
    For further details, please refer to the above mentioned documents.
    
    The information objects defined here provide harmonised data structures. 
    They do not, however, provide specific information on mandatory content depending on object type and process context.
    For this information, API service providers should add additional information on validation rules applied to the objects used in the supported operations.   
    This validation can be done in several ways, of course. However, a very simple and straightforward way would be to use semantic validation through schematron techniques on the data received. The output of this validation process can be used as error description in the response, should the validation fail.
    
    A compliant implementation must support:    
    /consignments [GET]    
    /consignments/{ident} [PUT, PATCH, GET]   
    /consignment-items [GET]   
    /consignment-items/{ident} [PUT, PATCH, GET]   
    /transport-events [POST, GET]    
    /transport-events/{ident} [PUT, GET]   
        
    It may further support:   
    /consignments [POST]   
    /consignment-items [POST]     
    /transport-capacity-reservations [POST, GET]      
    /transport-capacity-reservations/{ident} [PUT, PATCH, GET]   
    /transport-equipments [GET]    
    /transport-equipments/{ident} [GET]   
    /transport-means  [GET]   
    /transport-means/{ident} [GET]  
    /transport-movements  [GET]   
    /transport-movements/{ident} [GET]   
    /exchanged-messages [GET]
    /exchanged-messages/{ident} [POST]
    /exchanged-messages/{ident} [GET]
       
    Service providers may, of course, also implement operations still marked as not-implemented (except DELETE operations), as this specification is intended to support a MVP for the moment.
  contact:
    name: |
      VDA Abteilung Produktion, Logistik und Aftermarket and   
      ODETTE International Ltd.
    email: 'gp_logistik@vda.de'
  license:
    name: The specification is published under the General Public License (GPL 3.0)
  version: 1.0.0
servers:
  - url: 'https://api.sample.com/vda_odette_ttt/V1'
paths:
  /:
    summary: 'Provides information about the API-Version'
    get:
      tags:
        - 'administrative-services'
      description: Gets the API info object.
      operationId: getAPIInfo
      responses:
        500:
          description: Internal Server Error
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Info'
              example: |
                {
                   "APIName": "VDA/ODETTE Transport T+T OpenAPI 3.01 interface",
                   "APIVersion": "1.0.0",
                   "APIReleasedDate": "2021-06-30T17:00:00Z",
                   "APIDocumentation": "https://github.com/Odette-International-Ltd/transport-track-and-trace-api",             "APIStatus": "DRAFT"
                }
  /consignments:
    description: |
      Consignments
      ---
      Provides operations 
      - for getting a list of IDs of known consignments
      - for creating an consignment event and return the ID of that consignment object.
    get:
      tags:
        - consignments
      summary: 'Mandatory - Gets the list of consignments IDs stored in the system'
      description: |
        Get list of consignment IDs
        ---
        Gets the list of consignment IDs stored in the system.
      operationId: getConsignments
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
          links:
            self:
              operationId: getConsignmentByID
              parameters:
                ident: '$response.body#/{index}/ReturnList.Identifier'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          $ref: '#/components/responses/404_Not_Found'
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - consignments
      summary: 'Optional - Creates a new empty consigment object at the system and returns the ID'
      description: |
        Create consignment
        ---
        Creates a new empty consigment object at the system and returns the ID.
      operationId: createConsignment
      responses:
        201:
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          links:
            self:
              operationId: getConsignmentByID
              parameters:
                ident: $response.headers.Location
            replace:
              operationId: putConsignmentByID
              parameters:
                ident: $response.headers.Location
            edit:
              operationId: patchConsignmentByID
              parameters:
                ident: "'$response.headers.Location"
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        500:
          description: Internal Server Error
      security:
        - ApiKeyAuth: []
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /consignments/{ident}:
    description: Provides the details of the identified consignment.
    get:
      tags:
        - consignments
      summary: 'Mandatory - Gets the details of an identified consignment (identification in path)'
      description: gets the details of an identified consignment
      operationId: getConsignmentByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Consignment'
          links:
            edit:
              operationId: patchConsignmentByID
              parameters:
                ident: '$response.body#'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'not-implemented'
      summary: 'not implemented - forbidden'
      description: |
        Cerates a new consignment object in the system and post all data related to the consignment.
        The client must ensure that the consignment ID (primary key) is globally unique.   
        This can be achieved for instand by using a combimation of a data identifier, issuing agency code (IAC, e.g. OD for ODETTE or UN for D.U.N.S), company identification number CIN issued by aformentioned ageny and a shipment number unique within the boudaries of the identified company.
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          description: Method Not Allowed
    put:
      tags:
        - consignments
      summary: 'Mandatory -  replaces all existing data for the consignment'
      description: Updates / replaces the complete data set of an consignment
      operationId: putConsignmentByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Updates the details of a consignment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consignment'
            example: |
              {
               "ID": {
                "content": "2KODA05303020210003"
               },
               "ConsignorAssignedID": {
                "content": "2KODA05303020210003"
               },
               "GrossWeightMeasure": {
                "content": 15,
                "unitCode": "TNE"
               },
               "GrossVolumeMeasure": {
                "content": 18,
                "unitCode": "MTQ"
               },
               "ConsignmentItemQuantity": {
                "content": 10
               },
               "StatusCode": {
                "content": "NO_STATUS"
               },
               "SpecifiedDeliveryTerms": {
                "DeliveryTypeCode": {
                 "content": "EXW"
                },
                "Description": {
                 "content": "Ex works"
                },
                "RelevantLocation": {
                 "Name": {
                  "content": "London"
                 }
                }
               },
               "IncludedConsignmentItem": [
                {
                 "ID": {
                  "content": "ODA05303000000001"
                 },
                 "SequenceNumeric": {
                  "content": 1
                 },
                 "GrossWeightMeasure": {
                  "content": 1500,
                  "unitCode": "KGM"
                 },
                 "GrossVolumeMeasure": {
                  "content": 1.8,
                  "unitCode": "MTQ"
                 },
                 "ConsignmentID": {
                  "content": "2KODA05303020210003"
                 },
                 "StatusCode": {
                  "content": "READY_FOR_PICKUP"
                 },
                 "LinearDimension": {
                  "WidthMeasure": {
                   "content": 100,
                   "unitCode": "CMT"
                  },
                  "LengthMeasure": {
                   "content": 120,
                   "unitCode": "CMT"
                  },
                  "HeightMeasure": {
                   "content": 150,
                   "unitCode": "CMT"
                  }
                 },
                 "OriginCountry": {
                  "ID": {
                   "content": "GB"
                  }
                 },
                 "LogisticsLabelShippingMarks": [
                  {
                   "LogisticsLabel": {
                    "ID": {
                     "content": "6JODA05303000000001"
                    },
                    "LayoutTypeCode": {
                     "content": "GTL3"
                    },
                    "SizeCode": {
                     "content": "A5"
                    }
                   }
                  }
                 ]
                },
                {
                 "ID": {
                  "content": "ODA05303000000002"
                 },
                 "SequenceNumeric": {
                  "content": 2
                 },
                 "GrossWeightMeasure": {
                  "content": 1500,
                  "unitCode": "KGM"
                 },
                 "GrossVolumeMeasure": {
                  "content": 1.8,
                  "unitCode": "MTQ"
                 },
                 "ConsignmentID": {
                  "content": "2KODA05303020210003"
                 },
                 "StatusCode": {
                  "content": "READY_FOR_PICKUP"
                 },
                 "LinearDimension": {
                  "WidthMeasure": {
                   "content": 100,
                   "unitCode": "CMT"
                  },
                  "LengthMeasure": {
                   "content": 120,
                   "unitCode": "CMT"
                  },
                  "HeightMeasure": {
                   "content": 150,
                   "unitCode": "CMT"
                  }
                 },
                 "OriginCountry": {
                  "ID": {
                   "content": "GB"
                  }
                 },
                 "LogisticsLabelShippingMarks": [
                  {
                   "LogisticsLabel": {
                    "ID": {
                     "content": "6JODA05303000000002"
                    },
                    "LayoutTypeCode": {
                     "content": "GTL3"
                    },
                    "SizeCode": {
                     "content": "A5"
                    }
                   }
                  }
                 ]
                }
               ],
               // And so on for all 10 THU
               "ConsignmentParty": [
                {
                 "ID": {
                  "content": "A05303",
                  "schemeAgencyID": "10"
                 },
                 "Name": {
                  "content": "Automotive Supplier Ltd."
                 },
                 "RoleCode": {
                  "content": "SF"
                 },
                 "PostalAddress": {
                  "PostcodeCode": {
                   "content": "SW1P 2BN"
                  },
                  "StreetName": {
                   "content": "71 Great Peter Street"
                  },
                  "CityName": {
                   "content": "London"
                  },
                  "CountryID": {
                   "content": "GB"
                  }
                 }
                },
                {
                 "ID": {
                  "content": "987654321 ",
                  "schemeAgencyID": "16"
                 },
                 "Name": {
                  "content": "Vereinigte Fahrzeugwerke Berlin"
                 },
                 "RoleCode": {
                  "content": "ST"
                 },
                 "PostalAddress": {
                  "PostcodeCode": {
                   "content": "10117"
                  },
                  "StreetName": {
                   "content": "Behrenstraße 35"
                  },
                  "CityName": {
                   "content": "Berlin"
                  },
                  "CountryID": {
                   "content": "DE"
                  }
                 }
                }
               ],
               "LogisticsLocation": [
                {
                 "ID": {
                  "content": "Dock 15"
                 },
                 "TypeCode": {
                  "content": "9"
                 }
                },
                {
                 "ID": {
                  "content": "Abladestelle 23"
                 },
                 "TypeCode": {
                  "content": "11"
                 }
                }
               ],
               "HandlingInstructions": {
                "MaximumStackabilityWeightApplicableMeasure": {
                 "content": 3000,
                 "unitCode": "KGM"
                },
                "MaximumStackabilityApplicableQuantity": {
                 "content": 3
                }
               }
              }
        required: true
      responses:
        200:
          description: 'If PUT has been used with an ID that is known in the application (i.e. the resource exists), the system shall replace this resource with the data of the request body and return 200 - OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            getConsignmentByPathID:
              $ref: '#/components/links/getConsignmentByPathID'
        201:
          description: |
            If PUT has been used with an ID that is not yet stored in the application, the system shall create this resource internally using the provided ID (parameter ident) as key, fill it with the data of the request body and return 201 - created.
            The service consumer (i.e. provider of the data) MUST make sure that the ident is globally unique and cannot cause key violation in the target system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        404:
          $ref: '#/components/responses/404_Not_Found'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    patch:
      tags:
        - consignments
      summary: 'Mandatory - updates selected fields of the consignment'
      description: Updates selected fields of the consignment
      operationId: patchConsignmentByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      requestBody:
        description: Updates the details of a consignment
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Consignment'
        required: true
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            self:
              operationId: getConsignmentByID
              parameters:
                ident: '$response.body#'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        404:
          $ref: '#/components/responses/404_Not_Found'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /consignment-items:
    get:
      tags:
        - 'consignment-items'
      summary: 'Mandatory - Retrieves the list of consignment-items in the system'
      description: |
        Get list of consignment-item IDs
        ---
        Gets the list of consignment-item IDs stored in the system.
      operationId: getConsignmentItems
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'consignment-items'
      summary: 'Optional - Creates a new empty consigment-item object in the system and returns the ID'
      description: |
        Create consignment-item
        ---
        Creates a new empty consigment-item object at the system and returns the ID.   
        This operation shall be followed by a PUT command with the complete data set describing the consignment.
      operationId: createConsignmentItem
      responses:
        201:
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          links:
            self:
              operationId: getConsignmentItemByID
              parameters:
                path: $response.headers.Location
            replace:
              operationId: patchConsignmentByID
              parameters:
                path: response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      summary: 'replaces the data of a consignment-item'
      requestBody:
        description: Consignment item data set
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsignmentItem'
      responses:
        405:
          description: Method Not Allowed
  /consignment-items/{ident}:
    get:
      tags:
        - 'consignment-items'
      summary: 'Mandatory - Gets the details of an identified consignment (identification in path)'
      description: gets the details of an identified consignment
      operationId: getConsignmentItemByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConsignmentItem'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          description: Method Not Allowed
        403:
          $ref: '#/components/responses/403_Forbidden'
        500:
          description: Internal Server Error
    put:
      tags:
        - 'consignment-items'
      summary: 'Optional - updated the complete resource'
      description: |
        Put consignment item data replaces the complete data set of the resource.
        If a resource with that ID does not exist in the application, an empty object shall be created with the provided identifier and the data from the request will be stored in the system
        in that case, the client must ensure that the consignment item ID (primary key) is globally unique.    
        This can be achieved for instand by using a combimation of a data identifier, issuing agency code (IAC, e.g. OD for ODETTE or UN for D.U.N.S), company identification number CIN issued by aformentioned ageny and a shipment number unique within the boudaries of the identified company.
      operationId: putConsignmentItem
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: 'If PUT has been used with an ID that is known in the application (i.e. the resource exists), the system shall replace this resource with the data of the request body and return 200 - OK'
        201:
          description: |
            If PUT has been used with an ID that is not yet stored in the application, the system shall create this resource internally using the provided ID (parameter ident) as key, fill it with the data of the request body and return 201 - created.
            The service consumer (i.e. provider of the data) MUST make sure that the ident is globally unique and cannot cause key violation in the target system.
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            self:
              operationId: getConsignmentItemByID
              parameters:
                path: $response.headers.Location
            edit:
              operationId: patchConsignmentByID
              parameters:
                ident: $response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        409:
          description: 'Conflict: consignment already exists / duplicate id'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    patch:
      tags:
        - 'consignment-items'
      summary: 'Mandatory - Updates selected fields of the consignment item'
      description: |
        Change a consignment item partially
        ---
        Changes parts of or adds parts to an existing consignment item.
      operationId: patchConsignmentItemByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConsignmentItem'
      responses:
        202:
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-events:
    get:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Gets a list of stored transport event IDs'
      description: |
        Get list of transport event IDs
        ---
        Retrieves the list of transport event IDS stored in the system.
      operationId: getTransportEvents
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          $ref: '#/components/responses/408_Timeout'
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Creates an empty event object and returns the ID.'
      description: |
        Create an empty transport event object 
        ---
        Creates a new empty transport-event object in the system and returns the ID (primary key)
        This operation shall be followed by a PUT command with the complete data set describing the event.
      operationId: createTransportEvent
      responses:
        201:
          description: Created
          headers:
            Location:
              description: Returns the urn with the ID of the created event object
              required: true
              schema:
                type: string
          links:
            self:
              operationId: getTransportEventById
              parameters:
                ident: $response.headers.Location
            replace:
              operationId: putTransportEventByID
              parameters:
                ident: $response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        409:
          description: 'Conflict: consignment already exists / duplicate id'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-events/{ident}:
    description: |
      Transport Event with ID
      ---
      Provides operations for an individual transport event.
    get:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Returns the details of the identified event.'
      description: Gets the details of the identified transport event.
      operationId: getTransportEventById
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportEvent'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    put:
      tags:
        - 'transport-events'
      summary: 'Mandatory - Updates/replaces the complete data set of the event.'
      description: |
        Provides data of a transport event
        ---
        Provides all relevant data for the identified event. Follows the POST /transport-events which returns the ID (primary key)
      operationId: putTransportEventByID
      parameters:
        - name: ident
          in: path
          description: ID of the transport event
          required: true
          schema:
            type: string
      requestBody:
        description: the transport_event entity
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransportEvent'
      responses:
        202:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-capacity-reservations:
    summary: 'Optional - To communicate anticipated transport capacity demand'
    get:
      tags:
        - 'transport-capacity-reservations'
      summary: 'Optional - Gets a list of stored transport capacity reservations'
      description: |
        Get list of transport event IDs
        ---
        Retrieves the list of transport event IDS stored in the system.
      operationId: getTransportCapacityReservations
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'transport-capacity-reservations'
      summary: 'Optional - Creates an empty capacity reservation object and returns the ID.'
      description: |
        Creates an empty transport event object 
        ---
        Creates a new empty transport-capacity-reservation object in the system and returns the ID (primary key)
        This operation shall be followed by a PUT command with the complete data set describing the reservation.
      operationId: createTransportCapacityReservation
      responses:
        201:
          description: Created
          headers:
            Location:
              required: true
              allowEmptyValue: false
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            self:
              operationId: getTransportCapacityReservationByID
              parameters:
                ident: $response.headers.Location
            replace:
              operationId: putTransportCapacityReservationByID
              parameters:
                ident: "'$response.headers.Location"
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        409:
          description: 'Conflict: object already exists / duplicate id'
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-capacity-reservations/{ident}:
    get:
      tags:
        - 'transport-capacity-reservations'
      summary: 'Optional - Returns the details of the identified capacity-reservation'
      description: Gets the details of the identified transport capacity reservation.
      operationId: getTransportCapacityReservationByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportCapacityReservation'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    put:
      tags:
        - 'transport-capacity-reservations'
      summary: 'Optional - Updates/replaces the complete data set of the transport capacity reservation.'
      description: |
        Provides data of a transport capacity reservation
        ---
        Provides all relevant data for the identified reservation. 
        It follows the POST /transport-capacity-reservations which returns the ID (primary key).
      operationId: putTransportCapacityReservationByID
      parameters:
        - name: ident
          in: path
          description: ID of the transport event
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransportCapacityReservation'
      responses:
        202:
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            getTransportEventByResponseId:
              operationId: getTransportEventById
              parameters:
                ident: $request.path.ident
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          $ref: '#/components/responses/404_Not_Found'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'transport-capacity-reservations'
      summary: Updates parts of a capacity reservation
      operationId: patchTransportCapacityReservationByID
      parameters:
        - $ref: '#/components/parameters/ident'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TransportCapacityReservation'
        required: true
      responses:
        202:
          description: Accepted
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          links:
            self:
              operationId: getTransportCapacityReservationByID
              parameters:
                ident: $response.headers.Location
            edit:
              operationId: patchTransportCapacityReservationByID
              parameters:
                ident: $response.headers.Location
            replace:
              operationId: putTransportCapacityReservationByID
              parameters:
                ident: $response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          $ref: '#/components/responses/404_Not_Found'
        408:
          $ref: '#/components/responses/408_Timeout'
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          $ref: '#/components/responses/500'
  /transport-movements:
    get:
      tags:
        - 'transport-movements'
      summary: 'Optional - Gets a list of stored transport movement IDs'
      description: |
        Get list of transport movement IDs
        ---
        Retrieves the list of transport movements IDS stored in the system.
      operationId: getTransportMovements
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-movements/{ident}:
    get:
      tags:
        - 'transport-movements'
      summary: 'Optional - Gets the details of the identified transport movement.'
      description: Gets the details of the identified transport movement.
      operationId: getTransportMovementByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportMovement'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-means:
    get:
      tags:
        - 'transport-means'
      summary: 'Optional - Gets a list of stored transport means IDs'
      description: |
        Get list of transport means IDs
        ---
        Retrieves the list of transport means IDs stored in the system.
      operationId: getTransportMeans
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-means/{ident}:
    get:
      tags:
        - 'transport-means'
      summary: 'Optional - Gets the details of the identified transport means.'
      description: Gets the details of the identified transport means.
      operationId: getTransportMeansByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportMeans'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-equipments:
    get:
      tags:
        - 'transport-equipments'
      summary: 'Optional - Gets a list of stored transport equipment IDs'
      description: |
        Get list of transport equipment IDs
        ---
        Retrieves the list of transport equipment IDs stored in the system.
      operationId: getTransportEquipments
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /transport-equipments/{ident}:
    get:
      tags:
        - 'transport-equipments'
      summary: 'Optional - Gets the details of the identified transport equipment.'
      description: Gets the details of the identified transport equipment.
      operationId: getTransportEquipmentByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/TransportEquipment'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    post:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /exchanged-messages:
    summary: 'Optional - To send / receive information objects included in an envelope, e.g. in asyncroneous transmissions via a service provider (HUB).'
    get:
      tags:
        - 'exchanged-messages'
      summary: |
        Optional - Gets a list of messages still in the system.
        In a HUB and SPOKE system usually the HUB delivers the messages immediately and deletes them from internal storage. However, since the service consumer might not be online all the time, it is advisable to use a message broker system to temprarily store undelivered messages until the client is online again. The client then can use the GET command to retrieve the list of waiting messages and pull them one by one afterwards.
      operationId: getExchangedMessages
      parameters:
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ReturnList'
          links:
            self:
              operationId: getExchangedMessageByID
              parameters:
                ident: '$response.body#/{index}/ReturnList.Identifier'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    delete:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
  /exchanged-messages/{ident}:
    get:
      tags:
        - 'exchanged-messages'
      summary: 'Optional - Returns the details of the identified capacity-reservation'
      description: Gets the details of the identified transport capacity reservation.
      operationId: getExchangedMessageByID
      parameters:
        - name: ident
          in: path
          required: true
          schema:
            type: string
      responses:
        200:
          description: OK
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ExchangedEnvelope'
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          description: Not Found
        408:
          description: Request Timeout
        500:
          $ref: '#/components/responses/500'
    post:
      tags:
        - 'exchanged-messages'
      summary: |
        Optional - Creates a new ExchangedEnvelope object with Payload content.
        The sender (service consumer) must ensure the identifier of the Envelope is globally unique and does not cause key violations in the target system.
        Once transmitted, an envelope cannot be patched or updated. Changes to the conten must
      operationId: postExchangedMessageByID
      parameters:
        - name: ident
          in: path
          description: ID of the transport event
          required: true
          schema:
            type: string
      requestBody:
        description: the exchanged envelope
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExchangedEnvelope'
      responses:
        201:
          description: Created
          headers:
            Location:
              $ref: '#/components/headers/returned_id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreatedResponse'
          links:
            self:
              operationId: getExchangedMessageByID
              parameters:
                ident: $response.headers.Location
        400:
          $ref: '#/components/responses/400_Bad_Request'
        401:
          $ref: '#/components/responses/401_Unauthorised'
        403:
          $ref: '#/components/responses/403_Forbidden'
        404:
          $ref: '#/components/responses/404_Not_Found'
        408:
          description: Request Timeout
        415:
          $ref: '#/components/responses/415_Unsupported_Media_type'
        422:
          $ref: '#/components/responses/422_Unprocessable_Request'
        500:
          description: Internal Server Error
    delete:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    put:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
    patch:
      tags:
        - 'not-implemented'
      parameters:
        - $ref: '#/components/parameters/ident'
      responses:
        405:
          $ref: '#/components/responses/405_Not_Implemented'
components:
  schemas:
    ExchangedEnvelope:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        TypeCode:
          $ref: '#/components/schemas/DocumentCode'
        IssueDateTime:
          $ref: '#/components/schemas/DateTime'
        IssuerParty:
          $ref: '#/components/schemas/TradeParty'
        RecipientParty:
          type: array
          items:
            $ref: '#/components/schemas/TradeParty'
          minItems: 1
        APIPayload:
          $ref: '#/components/schemas/APIPayload'
      required:
        - ID
        - TypeCode
        - IssueDateTime
        - IssuerParty
        - APIPayload
    Info:
      type: object
      properties:
        APIName:
          $ref: '#/components/schemas/Text'
        APIVersion:
          $ref: '#/components/schemas/Text_2'
        APIReleasedDate:
          $ref: '#/components/schemas/Date'
        APIDocumentation:
          $ref: '#/components/schemas/Text_3'
        APIStatus:
          $ref: '#/components/schemas/Text_4'
      required:
        - APIName
        - APIVersion
        - APIReleasedDate
        - APIDocumentation
        - APIStatus
    Consignment:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_2'  # description: It is recommended to use the ID assigned by the consignor, which on the other hand required the consignor (ship-from) to use globally unique IDs.
        ConsignorAssignedID:
          $ref: '#/components/schemas/Identifier'
        ConsigneeAssignedID:
          $ref: '#/components/schemas/Identifier'
        CustomsID:
          $ref: '#/components/schemas/Identifier'
        CarrierAssignedID:
          $ref: '#/components/schemas/Identifier'
        FreightForwarderAssignedID:
          $ref: '#/components/schemas/Identifier'
        TradedParcelID:
          $ref: '#/components/schemas/Identifier'
        LoadingSequenceNumeric:
          $ref: '#/components/schemas/Numeric'
        GrossWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        NetWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        GrossVolumeMeasure:
          $ref: '#/components/schemas/VolumeUnitMeasure'
        LoadingLengthMeasure:
          $ref: '#/components/schemas/LinearUnitMeasure'
        ChargeableWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        ConsignmentItemQuantity:
          $ref: '#/components/schemas/Quantity'
        StatusCode:
          $ref: '#/components/schemas/TransportStatusCode'
        AssociatedDocument:
          type: array
          items:
            $ref: '#/components/schemas/ReferencedDocument'
          minItems: 0
        UtilizedTransportEquipment:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsTransportEquipment'
          minItems: 0
        SpecifiedTransportMovement:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsTransportMovement'
          minItems: 0
        SpecifiedDeliveryTerms:
          $ref: '#/components/schemas/TradeDeliveryTerms'
        SpecifiedReference:
          type: array
          items:
            $ref: '#/components/schemas/SupplyChainReference'
          minItems: 0
        IncludedConsignmentItem:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentItem'
          minItems: 0
        RelatedEvent:
          type: array
          items:
            $ref: '#/components/schemas/TransportEvent_2'
          minItems: 0
        ConsignmentParty:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentParty'
          minItems: 0
        LogisticsLocation:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsLocation'
          minItems: 0
        HandlingInstructions:
          $ref: '#/components/schemas/HandlingInstructions'
    ConsignmentItem:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        SequenceNumeric:
          $ref: '#/components/schemas/Numeric'
        TypeCode:
          $ref: '#/components/schemas/GoodsTypeCode'  # description: Contained material classification, use harmonised system code
        GrossWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        NetWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        GrossVolumeMeasure:
          $ref: '#/components/schemas/VolumeUnitMeasure'
        PackageType:
          $ref: '#/components/schemas/Text_5'
        ConsignmentID:
          $ref: '#/components/schemas/Identifier'  # description: Identifier of the shipment, this TLU belongs to
        StatusCode:
          $ref: '#/components/schemas/TransportStatusCode_2'
        LinearDimension:
          $ref: '#/components/schemas/SpatialDimension'
        OriginCountry:
          $ref: '#/components/schemas/TradeCountry'
        RelatedEvent:
          type: array
          items:
            $ref: '#/components/schemas/TransportEvent_2'
          minItems: 0
        LogisticsLabelShippingMarks:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsShippingMarks'
          minItems: 0
        HandlingInstructions:
          $ref: '#/components/schemas/HandlingInstructions_2'
      required:
        - ID
    CreatedResponse:
      type: object
      properties:
        ReturnedID:
          $ref: '#/components/schemas/Identifier'
    ErrorList:
      type: object
      properties:
        Errors:
          type: array
          items:
            $ref: '#/components/schemas/Errors'
          minItems: 1
    ReturnList:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
      required:
        - ID
    TransportCapacityReservation:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        TransactionStatusCode:
          $ref: '#/components/schemas/TransactionStatusCode'
        IssueDateTime:
          $ref: '#/components/schemas/FormattedDateTime'
        PositioningDateTime:
          $ref: '#/components/schemas/FormattedDateTime_2'
        TransportMeansTypeCode:
          $ref: '#/components/schemas/TransportMeansTypeCode'
        TransportMeansNumberNumeric:
          $ref: '#/components/schemas/Numeric'  # description: Number of requested means of transport
        GrossWeightMeasure:
          $ref: '#/components/schemas/UnitMeasure'
        LoadingMetersMeasure:
          $ref: '#/components/schemas/UnitMeasure_2'
        GrossVolumeMeasure:
          $ref: '#/components/schemas/UnitMeasure_3'
        DeliveryTermsCode:
          $ref: '#/components/schemas/CL4053Code'
        ContractReferenceID:
          $ref: '#/components/schemas/Identifier'
        SpecialInstructions:
          $ref: '#/components/schemas/Text_5'  # description: Special requirements / instructions such as cooling, dangerous goods requirements etc.
        SpecifiedParty:
          type: array
          items:
            $ref: '#/components/schemas/TradeParty_II'
          minItems: 2
        LogisticsLocation:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsLocation_2'
          minItems: 0
      required:
        - ID
        - TransactionStatusCode
    TransportEquipment:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        CharacteristicCode:
          $ref: '#/components/schemas/TransportEquipmentSizeTypeCode'
        UsedCapacityCode:
          $ref: '#/components/schemas/TransportEquipmentFullnessCode'
        Information:
          $ref: '#/components/schemas/Text_5'
        SealQuantity:
          $ref: '#/components/schemas/Quantity'
        ContainedConsignmentQuantity:
          $ref: '#/components/schemas/Quantity'
        SealedIndicator:
          $ref: '#/components/schemas/Indicator'
        ContainedConsignment:
          type: array
          items:
            $ref: '#/components/schemas/SupplyChainConsignment'
          minItems: 0
        LoadedConsignmentItem:
          type: array
          items:
            $ref: '#/components/schemas/SupplyChainConsignmentItem'
          minItems: 0
        LoadedDangerousGoods:
          type: array
          items:
            $ref: '#/components/schemas/TransportDangerousGoods'
          minItems: 0
        AffixedSeal:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsSeal'
          minItems: 0
        SpecifiedTransportMeans:
          $ref: '#/components/schemas/LogisticsTransportMeans'
        ReportedStatus:
          type: array
          items:
            $ref: '#/components/schemas/LogisticsStatus'
          minItems: 0
        ApplicableNote:
          type: array
          items:
            $ref: '#/components/schemas/Note'
          minItems: 0
        AttachedIOTDevice:
          type: array
          items:
            $ref: '#/components/schemas/MonitoringIOTDevice'
          minItems: 0
    TransportEvent:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        TypeCode:
          $ref: '#/components/schemas/Code'
        ReportedConditionTypeCode:
          $ref: '#/components/schemas/LogisticsStatusCode'
        OccurenceDateTime:
          $ref: '#/components/schemas/FormattedDateTime'
        OccurrenceLocation:
          $ref: '#/components/schemas/LogisticsLocation_3'
        RelatedObservation:
          type: array
          items:
            $ref: '#/components/schemas/SpecifiedObservation'
          minItems: 0
        ReportingIOTDevice:
          type: array
          items:
            $ref: '#/components/schemas/MonitoringIOTDevice'
          minItems: 0
        ReportingParty:
          $ref: '#/components/schemas/TradeParty_II_2'
        ReferencedTransportMovement:
          $ref: '#/components/schemas/TransportMovement_2'
        ReferencedConsignment:
          type: array
          items:
            $ref: '#/components/schemas/Consignment_2'
          minItems: 0
        ReferencedConsignmentItem:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentItem_2'
          minItems: 0
      required:
        - ID
    TransportMeans:
      type: object
      properties:
        TypeCode:
          $ref: '#/components/schemas/TransportMeansTypeCode_2'  # description: See separate code list
        Type:
          $ref: '#/components/schemas/Text_5'
        ID:
          $ref: '#/components/schemas/Identifier'
        Name:
          $ref: '#/components/schemas/Text_5'
        GrossWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        NetWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        LengthMeasure:
          $ref: '#/components/schemas/LinearUnitMeasure'
        CargoGrossWeightMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        RequiredLaneLengthMeasure:
          $ref: '#/components/schemas/LinearUnitMeasure'
        SequenceNumeric:
          $ref: '#/components/schemas/Numeric'
        OperatorNationalityCountry:
          $ref: '#/components/schemas/TradeCountry_2'
        RegistrationCountry:
          $ref: '#/components/schemas/TradeCountry_2'
        TransportParty:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentParty_2'
          minItems: 0
        LoadedConsignment:
          type: array
          items:
            $ref: '#/components/schemas/Consignment_3'
          minItems: 0
    TransportMovement:
      type: object
      properties:
        StageCode:
          $ref: '#/components/schemas/TransportMovementStageCode'
        ModeCode:
          $ref: '#/components/schemas/TransportModeCode'
        Mode:
          $ref: '#/components/schemas/Text_5'
        ID:
          $ref: '#/components/schemas/Identifier'
        Information:
          $ref: '#/components/schemas/Text_5'
        CargoDescription:
          $ref: '#/components/schemas/Text_5'
        DangerousGoodsIndicator:
          $ref: '#/components/schemas/Indicator'
        StatusCode:
          $ref: '#/components/schemas/StatusCode'
        UsedTransportMeans:
          $ref: '#/components/schemas/TransportMeans_2'
        IncludedConsignment:
          type: array
          items:
            $ref: '#/components/schemas/Consignment_4'
          minItems: 0
        TransportParty:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentParty_3'
          minItems: 0
        RelatedEvent:
          type: array
          items:
            $ref: '#/components/schemas/TransportEvent_2'
          minItems: 0
      required:
        - ID
    APIPayload:
      type: object
      properties:
        OperationCode:
          $ref: '#/components/schemas/Code_2'  # description: Denominates the operation to be applied to the payload instance
      required:
        - OperationCode
      oneOf:
        - $ref: '#/components/schemas/ConsignmentItem'
        - $ref: '#/components/schemas/Consignment'
        - $ref: '#/components/schemas/TransportMovement'
        - $ref: '#/components/schemas/TransportCapacityReservation'
        - $ref: '#/components/schemas/TransportEvent'
    CL4053Code:
      type: object
      properties:
        content:
          enum:
            - '1'  # Delivery arranged by the supplier
            - '2'  # Delivery arranged by logistic service provider
            - CFR  # Cost and Freight (insert named port of destination)
            - CIF  # Cost, Insurance and Freight (insert named port of destination)
            - CIP  # Carriage and Insurance Paid to (insert named place of destination)
            - CPT  # Carriage Paid To (insert named place of destination)
            - DAF  # Delivered At Frontier (... named place) (removed in version 2010)
            - DAP  # Delivered At Place (insert named place of destination)
            - DAT  # Delivered At Terminal (insert named terminal at port or place of destination)
            - DDP  # Delivered Duty Paid (insert named place of destination)
            - DDU  # Delivered Duty Unpaid (... named place of destination) (removed in version 2010)
            - DEQ  # Delivered Ex Quay (Duty paid) (... named port of destination) (removed in version 2010)
            - DES  # Delivered Ex Ship (... named port of destination) (removed in version 2010)
            - EXW  # Ex Works (insert named place of delivery)
            - FAS  # Free Alongside Ship (insert named port of shipment)
            - FCA  # Free Carrier (insert named place of delivery)
            - FOA  # FOB Airport - Named airport of departure
            - FOB  # Free On Board (insert named port of shipment)
            - FOR
          type: string
      required:
        - content
    Code:
      type: object
      properties:
        content:
          enum:
            - ACTUAL
            - ESTIMATED
            - REQUESTED
            - SCHEDULED
          type: string
      required:
        - content
    ConsignmentItem_2:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
      required:
        - ID
    ConsignmentParty:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_3'
        Name:
          $ref: '#/components/schemas/Text_5'
        RoleCode:
          $ref: '#/components/schemas/PartyRoleCode'
        PostalAddress:
          $ref: '#/components/schemas/TradeAddress'
        UniversalCommunication:
          type: array
          items:
            $ref: '#/components/schemas/UniversalCommunication'
          minItems: 0
      required:
        - Name
        - RoleCode
    ConsignmentParty_2:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_3'
        Name:
          $ref: '#/components/schemas/Text_5'
        RoleCode:
          $ref: '#/components/schemas/PartyRoleCode_2'
        PostalAddress:
          $ref: '#/components/schemas/TradeAddress'
        UniversalCommunication:
          type: array
          items:
            $ref: '#/components/schemas/UniversalCommunication'
          minItems: 0
      required:
        - Name
        - RoleCode
    ConsignmentParty_3:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_3'
        Name:
          $ref: '#/components/schemas/Text_6'
        RoleCode:
          $ref: '#/components/schemas/PartyRoleCode_3'
        PostalAddress:
          $ref: '#/components/schemas/TradeAddress'
        UniversalCommunication:
          type: array
          items:
            $ref: '#/components/schemas/UniversalCommunication'
          minItems: 0
      required:
        - Name
        - RoleCode
    Consignment_2:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_2'  # description: It is recommended to use the ID assigned by the consignor, which on the other hand required the consignor (ship-from) to use globally unique IDs.
        ConsignmentItemQuantity:
          $ref: '#/components/schemas/Quantity'
        IncludedConsignmentItem:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentItem_3'
          minItems: 0
      required:
        - ID
    Consignment_3:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_2'  # description: It is recommended to use the ID assigned by the consignor, which on the other hand required the consignor (ship-from) to use globally unique IDs.
        StatusCode:
          $ref: '#/components/schemas/TransportStatusCode'
        IncludedConsignmentItem:
          type: array
          items:
            $ref: '#/components/schemas/ConsignmentItem_4'
          minItems: 0
    Consignment_4:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier_2'  # description: It is recommended to use the ID assigned by the consignor, which on the other hand required the consignor (ship-from) to use globally unique IDs.
        ConsignorAssignedID:
          $ref: '#/components/schemas/Identifier'
        StatusCode:
          $ref: '#/components/schemas/TransportStatusCode'
      required:
        - ID
    Date:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    DateTime:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    DocumentCode:
      type: object
      properties:
        content:
          enum:
            - CONSIGNMENT  # self explanatory
            - CONSIGNMENT_ITEM  # self explanatory
            - TRANSPORT_CAPACITY_RESERVATION  # self explanatory
            - TRANSPORT_EQUIPMENT  # self explanatory
            - TRANSPORT_EVENT  # self explanatory
            - TRANSPORT_MEANS  # self explanatory
            - TRANSPORT_MOVEMENT  # self explanatory
          type: string
        listAgencyID:
          enum:
            - '6'
          type: string
      required:
        - content
    Errors:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        Detail:
          $ref: '#/components/schemas/Text_7'
        ErrorCode:
          $ref: '#/components/schemas/Code_3'
        ErrorSource:
          $ref: '#/components/schemas/ErrorSource'
    FormattedDateTime:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    FormattedDateTime_2:
      type: object
      properties:
        content:
          type: string
          description: In API environment, all dates must be transmitted according to ISO 8601 formatted dates.
      required:
        - content
    GoodsTypeCode:
      type: object
      properties:
        content:
          enum:
            - ZZZ  # Mutually defined
          type: string
      required:
        - content
      description: Contained material classification, use harmonised system code
    HandlingInstructions:
      type: object
      properties:
        Description:
          $ref: '#/components/schemas/Text_5'
        DescriptionCode:
          $ref: '#/components/schemas/Code_4'
        MaximumStackabilityWeightApplicableMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        MaximumStackabilityApplicableQuantity:
          $ref: '#/components/schemas/Quantity'
        MaximumStorageHumidityApplicableMeasure:
          $ref: '#/components/schemas/Measure'
        MinimumStorageHumidityApplicableMeasure:
          $ref: '#/components/schemas/Measure'
        InstructedTemperature:
          type: array
          items:
            $ref: '#/components/schemas/InstructedTemperature'
          minItems: 0
    HandlingInstructions_2:
      type: object
      properties:
        Description:
          $ref: '#/components/schemas/Text_5'
        MaximumStackabilityWeightApplicableMeasure:
          $ref: '#/components/schemas/WeightUnitMeasure'
        MaximumStackabilityApplicableQuantity:
          $ref: '#/components/schemas/Quantity'
        MaximumStorageHumidityApplicableMeasure:
          $ref: '#/components/schemas/Measure'
        MinimumStorageHumidityApplicableMeasure:
          $ref: '#/components/schemas/Measure'
        InstructedTemperature:
          type: array
          items:
            $ref: '#/components/schemas/InstructedTemperature_2'
          minItems: 0
    Identifier:
      type: object
      properties:
        content:
          type: string
      required:
        - content
      description: Identifier of the shipment, this TLU belongs to
    Identifier_2:
      type: object
      properties:
        content:
          type: string
      required:
        - content
      description: 'It is recommended to use the ID assigned by the consignor, which on the other hand required the consignor (ship-from) to use globally unique IDs.'
    Indicator:
      type: object
      properties:
        content:
          pattern: |
            true
            false
          type: string
      required:
        - content
    LinearUnitMeasure:
      type: object
      properties:
        content:
          type: number
        unitCode:
          enum:
            - CMT
            - FOT
            - INH
            - MTR
          type: string
      required:
        - content
        - unitCode
    LogisticsLocation:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        Name:
          $ref: '#/components/schemas/Text_5'
        TypeCode:
          $ref: '#/components/schemas/LocationFunctionCode'
        CountryID:
          $ref: '#/components/schemas/CountryIdentifier'
        CountrySub-DivisionID:
          $ref: '#/components/schemas/Identifier'
        PhysicalGeographicalCoordinate:
          $ref: '#/components/schemas/GeographicalCoordinate'
      required:
        - TypeCode
    LogisticsLocation_2:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        Name:
          $ref: '#/components/schemas/Text_5'
        TypeCode:
          $ref: '#/components/schemas/LocationFunctionCode'
        CountryID:
          $ref: '#/components/schemas/CountryIdentifier'
        CountrySub-DivisionID:
          $ref: '#/components/schemas/Identifier'
        PhysicalGeographicalCoordinate:
          $ref: '#/components/schemas/GeographicalCoordinate'
        PostalAddress:
          $ref: '#/components/schemas/TradeAddress_2'
      required:
        - TypeCode
    LogisticsLocation_3:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        Name:
          $ref: '#/components/schemas/Text_5'
        TypeCode:
          $ref: '#/components/schemas/LocationFunctionCode_2'
        CountryID:
          $ref: '#/components/schemas/CountryIdentifier'
        CountrySub-DivisionID:
          $ref: '#/components/schemas/Identifier'
        PhysicalGeographicalCoordinate:
          $ref: '#/components/schemas/GeographicalCoordinate'
    LogisticsSeal:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        TypeCode:
          $ref: '#/components/schemas/SealTypeCode'
        ConditionCode:
          $ref: '#/components/schemas/SealConditionCode'
        SealingPartyRoleCode:
          $ref: '#/components/schemas/SealingPartyRoleCode'
        IssuingParty:
          $ref: '#/components/schemas/TradeParty_2'
    LogisticsShippingMarks:
      type: object
      properties:
        Marking:
          $ref: '#/components/schemas/Text_5'
        LogisticsLabel:
          $ref: '#/components/schemas/LogisticsLabel'
    LogisticsStatus:
      type: object
      properties:
        ConditionCode:
          $ref: '#/components/schemas/LogisticsStatusCode'
        ReferenceDateTime:
          $ref: '#/components/schemas/DateTime'
        Description:
          $ref: '#/components/schemas/Text_5'
        SpecifiedLocation:
          $ref: '#/components/schemas/LogisticsLocation_4'
        ReportedEvent:
          $ref: '#/components/schemas/SupplyChainEvent'
    LogisticsStatusCode:
      type: object
      properties:
        content:
          enum:
            - ACCEPTANCE_REFUSED_BY_SHIP_TO  # Forwarder or carrier reports: goods receiver refuses to accept the shipment or THU
            - ARRIVAL_COMPLETED  # Forwarder or carrier reports: transport or shipment has arrived at the destination of the transport leg
            - AWAITING_CUSTOMS_IMPORT_RELEASE  # Forwarder or carrier reports: shipment or THU awaiting customs import release
            - BORDER_CROSSED  # Forwarder or carrier reports: transport or shipment has crossed a border
            - BREAK_BEGIN  # Forwarder or carrier reports: means of transport begins a break
            - BREAK_END  # Forwarder or carrier reports: break has ended for means of transport
            - CHANGED_TRANSPORT_MEANS  # The means of transport has changed in the progress of the journey
            - CLEARED_BY_CUSTOMS  # Forwarder or carrier reports: shipment has bee cleared by customs
            - CUSTOMS_CLEARANCE_IN_PROGRESS  # Forwarder or carrier reports: customs clearance in progress
            - DAMAGED  # THU is damaged
            - DELAYED  # Forwarder or carrier reports: Transport or shipment is delayed
            - DELIVERY_COMPLETED  # Forwarder or carrier reports: delivery has been completed
            - DELIVERY_COMPLETED_DISCREPANCY  # Forwarder or carrier reports: delivery has been completed with discrepancy
            - DELIVERY_NOT_COMPLETED  # Forwarder or carrier reports: delivery has not yet been completed
            - DELIVERY_REFUSED  # Forwarder or carrier reports: hand-over by carrier to the next partner in the transport chain has been refused by that partner.
            - DEPARTURE_COMPLETED  # Forwarder or carrier reports: means of transport has departed
            - DIRTY  # THU is dirty
            - DOWNTIME_PROCESS_RELATED  # Any partner reports: a disturbance in the process has temprarily stopped the planned progress
            - EN_ROUTE  # Forwarder or carrier reports: means of transport is en-route
            - GEO_FENCE_CROSSED  # Forwarder or carrier reports: geo-fence crossed
            - INFORMATION  # Other information - refer to (referenced) transport event for further details.
            - INTERNATIONAL_WATERS_REACHED  # Forwarder or carrier reports: vessel has reached international waters
            - ISSUE_COMPLETED  # Ship-from reports: goods-issue (hand-over to carrier) completed
            - ISSUE_COMPLETED_DISCREPANCY  # Ship-from reports: goods-issue (hand-over to carrier) completed with discrepancies.
            - ISSUE_NOT_COMPLETED  # Ship-from reports: goods-issue (hand-over to carrier) not yet completed
            - LOADING_COMPLETED  # Cross-dock reports: loading onto a means of transport completed
            - LOADING_COMPLETED_DISCREPANCY  # Cross-dock reports: loading onto a means of transport has been completed with discrepancies.
            - MISSING  # A TLU is missing (not handed over although advised or lost in the course of transport).
            - NOT_TAKEN_OVER  # Forwarder or carrier reports: shipment or THU not taken over
            - NO_STATUS  # There is no specific status information (or update) available.
            - OVERSHIPPED  # A TLU is present (issued, loaded, etc.), which has not been advised.
            - PICKUP_COMPLETED  # Forwarder or carrier reports: pick-up has been completed
            - PICKUP_COMPLETED_DISCREPANCY  # Forwarder or carrier reports: pick-up has been completed with discrepancy
            - POD_COMPLETED  # Forwarder or carrier reports: goods have been handed over to final recipient (proof of delivery)
            - POD_COMPLETED_DISCREPANCY  # Forwarder or carrier reports: goods have been handed over to final recipient (proof of delivery) with discrepancies
            - POD_NOT_COMPLETED  # Forwarder or carrier reports: goods hand over to final recipient (proof of delivery) not yet finished.
            - READY_FOR_PICKUP  # Ship-from reports: shipment or THU is ready for pick-up
            - READY_FOR_PICKUP_DISCREPANCY  # Ship-from reports: shipment is ready for pick-up with discrepancies (compared to the transport order)
            - RECEIPT_COMPLETED  # Ship-to reports: good receipt process completed
            - RECEIPT_COMPLETED_DISCREPANCY  # Ship-to reports: goods receipt process completed with discrepancies.
            - RECEIPT_NOT_COMPLETED  # Ship-to reports: good receipt process not yet completed
            - TERMINATED  # Forwarder or carrier reports: transport terminated (e.g. due to an accident etc.)
            - UNKNOWN  # Status currently unknown
            - UNLOADING_COMPLETED  # Ship-to or LSP reports: unloading of a shipment or THU from a means of transport completed
            - UNLOADING_COMPLETED_DISCREPANCY  # Ship-to or LSP reports: unloading of a shipment from a means of transport completed with discrepancies.
          type: string
      required:
        - content
    LogisticsTransportEquipment:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        CategoryCode:
          $ref: '#/components/schemas/TransportEquipmentCategoryCode'
    LogisticsTransportMeans:
      type: object
      properties:
        TypeCode:
          $ref: '#/components/schemas/TransportMeansTypeCode_3'
        Type:
          $ref: '#/components/schemas/Text_5'
        ID:
          $ref: '#/components/schemas/Identifier'
        Name:
          $ref: '#/components/schemas/Text_5'
    LogisticsTransportMovement:
      type: object
      properties:
        StageCode:
          $ref: '#/components/schemas/TransportMovementStageCode_2'
        ModeCode:
          $ref: '#/components/schemas/TransportModeCode_2'
        ID:
          $ref: '#/components/schemas/Identifier'
    MonitoringIOTDevice:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        TypeCode:
          $ref: '#/components/schemas/Code_4'
    Note:
      type: object
      properties:
        Subject:
          $ref: '#/components/schemas/Text_5'
        ContentCode:
          $ref: '#/components/schemas/Code_5'
        Content:
          $ref: '#/components/schemas/Text_5'
        SubjectCode:
          $ref: '#/components/schemas/Code_5'
    Numeric:
      type: object
      properties:
        content:
          type: number
      required:
        - content
      description: Number of requested means of transport
    Quantity:
      type: object
      properties:
        content:
          type: number
      required:
        - content
    ReferencedDocument:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        ReferenceTypeCode:
          $ref: '#/components/schemas/ReferenceCode'
        LanguageID:
          $ref: '#/components/schemas/LanguageIdentifier'
        FormattedIssueDateTime:
          $ref: '#/components/schemas/FormattedDateTime'
        SubordinateLineID:
          $ref: '#/components/schemas/Identifier'
        AttachedBinaryFile:
          type: array
          items:
            $ref: '#/components/schemas/SpecifiedBinaryFile'
          minItems: 0
      required:
        - ID
        - ReferenceTypeCode
    SpatialDimension:
      type: object
      properties:
        WidthMeasure:
          $ref: '#/components/schemas/Measure_2'
        LengthMeasure:
          $ref: '#/components/schemas/Measure_2'
        HeightMeasure:
          $ref: '#/components/schemas/Measure_2'
        DiameterMeasure:
          $ref: '#/components/schemas/LinearUnitMeasure'
    SpecifiedObservation:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        Description:
          $ref: '#/components/schemas/Text_5'
        RelatedBinaryFile:
          type: array
          items:
            $ref: '#/components/schemas/SpecifiedBinaryFile_2'
          minItems: 0
        ApplicableNote:
          type: array
          items:
            $ref: '#/components/schemas/Note_2'
          minItems: 0
    StatusCode:
      type: object
      properties:
        content:
          enum:
            - ARRIVAL_COMPLETED  # Forwarder or carrier reports: transport or shipment has arrived at the destination of the transport leg
            - AWAITING_CUSTOMS_IMPORT_RELEASE  # Forwarder or carrier reports: shipment or THU awaiting customs import release
            - BORDER_CROSSED  # Forwarder or carrier reports: transport or shipment has crossed a border
            - BREAK_BEGIN  # Forwarder or carrier reports: means of transport begins a break
            - BREAK_END  # Forwarder or carrier reports: break has ended for means of transport
            - CLEARED_BY_CUSTOMS  # Forwarder or carrier reports: shipment has bee cleared by customs
            - CUSTOMS_CLEARANCE_IN_PROGRESS  # Forwarder or carrier reports: customs clearance in progress
            - DELAYED  # Forwarder or carrier reports: Transport or shipment is delayed
            - DEPARTURE_COMPLETED  # Forwarder or carrier reports: means of transport has departed
            - DOWNTIME_PROCESS_RELATED  # Any partner reports: a disturbance in the process has temprarily stopped the planned progress
            - GEO_FENCE_CROSSED  # Forwarder or carrier reports: geo-fence crossed
            - INFORMATION  # Other information - refer to (referenced) transport event for further details.
            - INTERNATIONAL_WATERS_REACHED  # Forwarder or carrier reports: vessel has reached international waters
            - NO_STATUS  # There is no specific status information (or update) available.
            - TERMINATED  # Forwarder or carrier reports: transport terminated (e.g. due to an accident etc.)
            - UNKNOWN  # Status currently unknown
          type: string
      required:
        - content
    SupplyChainConsignment:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        ConsignorAssignedID:
          $ref: '#/components/schemas/Identifier'
      required:
        - ID
    SupplyChainConsignmentItem:
      type: object
      properties:
        ID:
          $ref: '#/components/schemas/Identifier'
        SequenceNumeric:
          $ref: '#/components/schemas/Numeric'
      required:
        - ID
    SupplyChainReference:
      type: object
      properties:
        TypeCode:
          $ref: '#/components/schemas/ReferenceCode'
        ID:
          $ref: '#/components/schemas/Identifier'
      required:
        - TypeCode
        - ID
    Text:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    Text_2:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    Text_3:
      type: object
      properties:
        content:
          type: string
      required:
        - content
    Text_4:
      type: object
      properties:
        content:
          enum:
            - DEPRECATED  # When a specification is superseded by a new major version then the previous major version is deprecated
            - DRAFT  # When a specification is completed and testable (i.e., it has a working test harness), then it becomes draft.
            - RAW  # Every new specification or major version starts with raw status.
            - RETIRED  # when a specification is obsolete and should no longer be used in any production deployment then it becomes retired
            - STABLE  # When a specification has a successful third-party implementation (i.e., passes conformance test cases) then it becomes stable.
          type: string
      required:
        - content
    Text_5:
      type: object
      properties:
        content:
          type: string
        languageID:
          enum:
            - aa  # Afar
            - AA  # Afar
            - ab  # Abkhazian
            - AB  # Abkhazian
            - ae  # Avestan
            - AE  # Avestan
            - af  # Afrikaans
            - AF  # Afrikaans
            - ak  # Akan
            - AK  # Akan
            - am  # Amharic
            - AM  # Amharic
            - an  # Aragonese
            - AN  # Aragonese
            - ar  # Arabic
            - AR  # Arabic
            - as  # Assamese
            - AS  # Assamese
            - av  # Avaric
            - AV  # Avaric
            - ay  # Aymara
            - AY  # Aymara
            - az  # Azerbaijani
            - AZ  # Azerbaijani
            - ba  # Bashkir
            - BA  # Bashkir
            - be  # Belarusian
            - BE  # Belarusian
            - bg  # Bulgarian
            - BG  # Bulgarian
            - bh  # Bihari
            - BH  # Bihari
            - bi  # Bislama
            - BI  # Bislama
            - bm  # Bambara
            - BM  # Bambara
            - bn  # Bengali
            - BN  # Bengali
            - bo  # Tibetan
            - BO  # Tibetan
            - br  # Breton
            - BR  # Breton
            - bs  # Bosnian
            - BS  # Bosnian
            - ca  # Catalan; Valencian
            - CA  # Catalan; Valencian
            - ce  # Chechen
            - CE  # Chechen
            - ch  # Chamorro
            - CH  # Chamorro
            - co  # Corsican
            - CO  # Corsican
            - cr  # Cree
            - CR  # Cree
            - cs  # Czech
            - CS  # Czech
            - cu  # Church Slavic; Old Slavonic; Church Slavonic; Old Bulgarian; Old Church Slavonic
            - CU  # Church Slavic; Old Slavonic; Church Slavonic; Old Bulgarian; Old Church Slavonic
            - cv  # Chuvash
            - CV  # Chuvash
            - cy  # Welsh
            - CY  # Welsh
            - da  # Danish
            - DA  # Danish
            - de  # German
            - DE  # German
            - dv  # Divehi; Dhivehi; Maldivian
            - DV  # Divehi; Dhivehi; Maldivian
            - dz  # Dzongkha
            - DZ  # Dzongkha
            - ee  # Ewe
            - EE  # Ewe
            - el  # Greek; Modern (1453-)
            - EL  # Greek; Modern (1453-)
            - en  # English
            - EN  # English
            - eo  # Esperanto
            - EO  # Esperanto
            - es  # Spanish; Castilian
            - ES  # Spanish; Castilian
            - et  # Estonian
            - ET  # Estonian
            - eu  # Basque
            - EU  # Basque
            - fa  # Persian
            - FA  # Persian
            - ff  # Fulah
            - FF  # Fulah
            - fi  # Finnish
            - FI  # Finnish
            - fj  # Fijian
            - FJ  # Fijian
            - fo  # Faroese
            - FO  # Faroese
            - fr  # French
            - FR  # French
            - fy  # Western Frisian
            - FY  # Western Frisian
            - ga  # Irish
            - GA  # Irish
            - gd  # Gaelic; Scottish Gaelic
            - GD  # Gaelic; Scottish Gaelic
            - gl  # Galician
            - GL  # Galician
            - gn  # Guarani
            - GN  # Guarani
            - gu  # Gujarati
            - GU  # Gujarati
            - gv  # Manx
            - GV  # Manx
            - ha  # Hausa
            - HA  # Hausa
            - he  # Hebrew
            - HE  # Hebrew
            - hi  # Hindi
            - HI  # Hindi
            - ho  # Hiri Motu
            - HO  # Hiri Motu
            - hr  # Croatian
            - HR  # Croatian
            - ht  # Haitian; Haitian Creole
            - HT  # Haitian; Haitian Creole
            - hu  # Hungarian
            - HU  # Hungarian
            - hy  # Armenian
            - HY  # Armenian
            - hz  # Herero
            - HZ  # Herero
            - ia  # Interlingua (International Auxiliary Language Association)
            - IA  # Interlingua (International Auxiliary Language Association)
            - id  # Indonesian
            - ID  # Indonesian
            - ie  # Interlingue
[...]
